name: Unzip Project

on:
  push:
    branches:
      - main

jobs:
  unzip:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install unzip
        run: sudo apt-get update && sudo apt-get install unzip -y

      - name: Unzip frontend.zip
        run: |
          echo "Files in repo:"
          ls -la
          unzip -o frontend.zip -d frontend
          echo "Files after unzip:"
          ls -la frontend
