name: Unzip Project

on:
  push:
    branches:
      - main

jobs:
  unzip:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Unzip uploaded project
        run: |
          sudo apt-get install unzip
          unzip full_youtube_ai_project.zip -d .
